html {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(90deg, #269ef1, #7036be);
    background: linear-gradient(90deg, #269ef1, #7036be);
}

body {
    margin: 0px;
}

#opr {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Ubuntu', sans-serif;
}

#formula {
    color: white;
    padding-top: 30px;
    font-size: 60px;
    text-align: center;
}

#visch {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

#forms {
    width: 500px;
    height: 400px;
    display: flex;
}

#plotnost {
    width: 100px;
    height: 100px;
    left: 25%;
    border-radius: 10%;
    text-align: center;
    border: 0px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Ubuntu', sans-serif;
}

#obiyom {
    margin-left: calc(100% - 200px);
    width: 100px;
    height: 100px;
    left: 75%;
    border-radius: 10%;
    text-align: center;
    border: 0px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Ubuntu', sans-serif;
}
input::placeholder {
  color: black;
}
#btn{
    width: 200px;
    height: 60px;
    background: white;
    border: 0;
    border-radius: 2.5%;
    /*border-bottom: 2px solid rgb(54, 54, 54);
    border-right: 2px solid rgb(54, 54, 54);
    border-radius: 2.5%;*/
    margin-left: calc(50% - 100px);
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

#btn:hover{
    border-bottom: 2px solid rgb(54, 54, 54);
    border-right: 2px solid rgb(54, 54, 54);
    transition-duration: 75ms;
}
